*
*::before,
*::after {
	box-sizing: border-box;
	padding: o;
	margin: 0;
}

body {
	font-family: "Poppins", sans-serif;
}


header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 5%;
  }
  
  .logo {
	cursor: pointer;
  }
  
  nav ul li {
	display: inline-block;
	line-height: 80px;
	margin-left: 120px;
	position: relative;
  }
  
  nav ul li a {
	color: black;
	font-size: 22px;
	text-decoration: none;
	font-weight: 600;
  }
  
  nav a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: darkorange;
	position: absolute;
	width: 0%;
	top: 60px;
	transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
	width: 100%;
  }
  
  .container {
	background: -webkit-linear-gradient(-11deg, #fff 55%, #F6B400 45%);
	background: -moz-linear-gradient(-11deg, #fff 55%, #F6B400 45%);
	background-color: linear-gradient(-11deg, #fff 55%, #F6B400 45%);
	max-height: 1035px;
  }
  
  .row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 5% 10px 5%;
  }
  
  .column {
	flex: 50%;
	padding: 2%;
  }
  
  .column h1 {
	font-size: 50px;
	font-weight: 700;
	
  }
  
  .column h3 {
	padding: 50px 0px 150px 0px;
	font-size: 25px;
	color: rgb(73, 73, 73);
  }
  
  .column img {
	max-width: 75%;
	height: auto;
  }
  
  .cta {
	height: 70px;
	width: 190px;
	color: white;
	font-size: 18px;
	font-weight: 500;
	background-color: darkorange;
	border-radius: 35px 35px 0px 35px;
	border: none;
	cursor: pointer;
	transition: ease-in-out 250ms;
  }
  
  .cta:hover {
	transform: scale(1.1);
  }
.home{
	width: 100%;
	height: 100%;
	display: flex;
}

.heading {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 4rem;
}

.hometitle {
	font-size: 2.5rem;
	letter-spacing: 0.05rem;
	font-weight: 600;
	margin-bottom: 2rem;
}

.homesubtitle {
	margin-bottom: 4rem;
	font-size: 1.5rem;
	font-weight: 300;
	color: #302f2fce;
}

.heading button {
	padding: 1rem 1.75rem;
	margin-left: 2.5rem;
	font-size: 1.2rem;
	color: #fff;
	background-color: #f66f00;
	border: none;
	border-radius: 5rem;
	border-top-right-radius: 4rem;
	border-bottom-right-radius: 0;
	cursor: pointer;
}

.homeimage {
	background-color: #f6b400;
	width: 50%;
	height: 100%;
	clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.home img {
	display: inline-block;
	width: 350px;
	position: absolute;
	top: 5rem;
	right: 8rem;
	z-index: 10;
}
.information {
	background-color: #e1ebe6;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 6rem 0;
	height: 80vh;
}

.information article {
	width: 25%;
	text-align: center;
	border: 1px solid #570808;
	border-radius: 0.75rem;
	padding: 2rem 1.45rem;
	height: 50vh;
}

.information article h2 {
	margin: 1.5rem 0;
	font-size: 1.5rem;
	font-weight: 300;
	color: #570808;
}

.information article p {
	font-size: 0.75rem;
	color: #302f2fce;
}

.second {
	transform: scale(1.2);
}



.menu {
	text-align: center;
	padding-bottom: 5rem;
}

.menu h2 {
	font-size: 2rem;
	font-weight: 700;
	margin: 8rem 0 4rem;
}

.menu h2::after {
	content: " ";
	display: block;
	margin: 0 auto;
	width: 8%;
	height: 0.75rem;
	background-color: #f66f00;
}

.menu h2 .last {
	color: #f6b400;
	margin-left: 0.5rem;
}

.menu div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.menu article {
	width: 30%;
	margin: 1.5rem 0;
	border: none;
	border-radius: 3rem;
	box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.75);
	padding: 1.5rem;
}

.menu article img {
	width: 100%;
	display: inline-block;
	margin-bottom: 1.5rem;
}

.body h3 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #570808;
	letter-spacing: 0.1rem;
	margin-bottom: 1.2rem;
}

.body p {
	font-size: 0.85rem;
	color: #302f2fce;
	margin-bottom: 2rem;
}

.foot {
	width: 100%;
	font-size: 1.2rem;
	color: #302f2fce;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.foot .add-cart {
	border: 1px solid #302f2fce;
	border-radius: 0.5rem;
	padding: 0.25rem 1rem;
}

.decker{
	display: flex;
	background-color: #E1EBE6;
	padding: 100px 5% 100px 5%;
	align-items: center;
  }
  
  .decker div {
	width: 50%;
  
  }
  
  .decker div h2 {
	font-weight: 700;
	font-size: 100px;
	padding-bottom: 20px;
  }
  
  .decker div p {
	color: rgb(73, 73, 73);
	font-size: 28px;
	font-weight: 500;
	padding-bottom: 150px;
  }
  
  .decker div i {
	padding-right: 25px;
  }
  .dec div img {
	width: auto;
  }

.mobile {
	width: 100%;
	display: flex;
}

.mobileinformation {
	width: 50%;
	background-color: #f6b400;
	padding: 10rem 0 3rem 6rem;
}

.mobileinformation h3 {
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 3rem;
}

.mobileinformation span {
	display: block;
}

.mobilebutton button {
	background-color: black;
	color: white;
	border: none;
	border-radius: 0.25rem;
	outline: none;
	margin: 0.75rem;
	padding: 0.5rem 0.75rem;
	cursor: pointer;
}

.mobilebutton span {
	text-align: start;
}

.mobilebutton .first {
	font-size: 0.85rem;
}

.mobilebutton .second {
	font-size: 1.45rem;
}

.mobileimage {
	width: 50%;
	background-color: #f6b400;
	padding-bottom: 3rem;
}

.mobileimage img {
	width: 88%;
	margin-top: 5rem;
}
.other{
	background-color: #e1ebe6;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 1rem;
}

.other .logo {
	margin: 4rem 0;
}

.link h4 {
	font-size: 1.5rem;
	margin-bottom: 0.75rem;
	text-align: center;
}

.link li {
	list-style-type: none;
	margin-bottom: 0.75rem;
}

.link li a {
	text-decoration: none;
	font-size: 1.2rem;
	color: #302f2fce;
}

.subscribe input {
	height: 2.75rem;
	outline: none;
	border-radius: 0.25rem;
}

.subscribe button {
	height: 2.75rem;
	font-size: 1rem;
	color: white;
	background-color: #f6b400;
	margin-left: 0;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
}

.lisence {
	margin: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.socialmedia {
	margin: 0 0.5rem;
} 